body
{
  color: rgb(130, 73, 73);
  background: #ffd6d6;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(52, 39, 39);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 22px;
  letter-spacing:10px;
  border-radius:10px;
}
label{
  font-size: 15px;
  background-color:rgb(196, 160, 160);
  color:rgb(187, 222, 253);
  padding:6px;
  border-radius:10px ;
}